/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

body{
    padding: 0 10px;

    @include tb{
        padding: 0 20px;
    }
    @include pc{
    @include content-wrapper;
    position: relative;
    }
    .fa-quote-right, .fa-quote-left{
        display: none;
        @include pc{
        position: absolute;
        font-size: 7rem;
        color: $color__green;
        display: inline;
        }
    }
    .fa-quote-left{
        left: 0;
    }
    .fa-quote-right{
        right: 0;
    }
    .page-title{
        font-size: 2rem;
    }
    .entry-title{
        font-size: 2.1rem;
    }
    .type-post{
    .entry-content{
        p{
            font-size: 1.25rem;
            @include pc{
                font-size: 2.5rem;
            }
            @include tb{
                font-size: 1.7rem;
            }
        }
    }
    }
    .btn{
        @include pc{
            text-align: center;
        }
    }
    .btn-green{
        background:transparent;
        border: 2px solid $color__green;
        box-shadow: none;
        text-shadow: none;
        padding: 10px 30px;
        color: $color__green;
        font-size: 1.2rem;
        font-weight: bold;
        &:focus{
            outline:none;
        }
    }
}

.search-results .page-title{
    border-bottom: 1px dotted #fff;
    padding-bottom: 17px;
    line-height: 1.5;
}

.header{
    @include pc{
    @include text-wrapper;
    margin-bottom: 70px;
    }
    margin-bottom: 50px;
    margin-top: 50px;
    &__logo{
        @include pc{
        text-align: center;
        }
        img{
            width: 80%;
            @include pc{
            width: 100%;
            }
        }
    }
}

.site-content{
    margin-bottom: 90px;
    @include pc{
        @include text-wrapper;
        }
}

.footer{
    margin-bottom: 80px;
    &__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include pc{
        justify-content: flex-end;
    }
}
&__item{
    border-right: 1px solid #fff;
    padding: 0 15px;
    &:last-child{
        border-right: none;
    }
    @include tb{
        &:nth-child(1){
            padding-left: 0;
        }
    }
    @include sp{
        &:nth-child(1){
            padding-left: 0;
        }
        &:nth-child(3){
            border-right: none;
        }
        &:last-child{
            padding-left: 0;
        }
    }
}
p{
    display: block;
    @include pcandtb{
        display: inline-block;
        margin: 0;
    }
}
}

.error404{
    fieldset{
        border: none;
        padding: 0;
        margin: 0;
        input{
            background:transparent;
            border: 2px solid $color__green;
            width: 250px;
            color: #ffffff!important;
            padding: 5px;
            &:focus{
                outline: none;
            }
        }
        .search-submit{
            background:transparent;
            color: $color__green;
            box-shadow: none;
            text-shadow: none;
            border: none;
            font-size: 1.3rem;
        }
    }
}

.wpcf7-form{
    p{
        margin-top: 0;
        margin-bottom: 10px;
        &:last-of-type{
            margin-top: 30px;
        }
    }
    label{
        font-size: 1rem;
        input{
            width: 70%;
        }
        input, textarea{
            background: transparent;
            border: 2px solid $color__green;
            color:#fff!important;
            &:focus{
                outline:none;
            }
        }
    }
}

.quote-author, .quote-source{
display: inline;
font-size:1.25rem;
}

.archives{
    h3{
        margin-top: 50px;
        font-size: 1.5rem;
    }
    &__list{
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;

        li{
            display: inline-block;
            margin-right: 15px;
            margin-bottom: 0.5rem;
            @include pc{
                font-size: 1.25rem;
            }
        }
    }
}

.number-pagination{
    a{
        margin: 0 7px;
    }
}

.archive {
    .hentry {
        border-bottom: 1px dotted #fff;
    }
}

.archive .entry-meta, .blog .entry-meta, .single .entry-meta {
    margin-bottom: 3rem;
}